.new-article {
  display: flex;
  flex-direction: column;
  width: 938px;
  box-sizing: border-box;
  margin: 50px auto 0;
  padding: 50px 30px;
  font-family: 'Roboto-Regular', 'Segoe UI', sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow:
    0 22px 106px rgba(0, 0, 0, 0.07),
    0 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275),
    0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725),
    0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
}

.header {
  font-family: 'Roboto-Medium', 'Segoe UI', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name,
.tags {
  font-family: 'Roboto-Medium', 'Segoe UI', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.title,
.description,
.text,
.tag {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: none;
}

.text {
  padding-bottom: 150px;
}

.mini-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 15px;
}

.delete,
.add-tag {
  width: 120px;
  height: 40px;
  margin-top: 25px;
  border-radius: 4px;
  background-color: white;
  padding: 8px 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.delete {
  border: 1px solid #f5222d;
  color: #f5222d;
  margin-left: 10px;
}

.add-tag {
  border: 1px solid #1890ff;
  color: #1890ff;
}

.send {
  margin-right: auto;
  width: 319px;
  height: 40px;
  border-radius: 4px;
  color: white;
  background-color: #1890ff;
  border: none;
}
