body {
  margin: 0 auto;
  background-color: #e5e5e5;
  font-family: 'Inter', sans-serif;
  color: rgba(0, 0, 0, 0.85);
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
}
