.article-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 15px 20px 25px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
}

.title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #1890ff;
  overflow-wrap: anywhere;
}

.link {
  text-decoration: none;
  color: #1890ff;
}

.image {
  border-radius: 50%;
}

.left {
  display: flex;
  box-sizing: border-box;
  margin: 0;
}

.right {
  display: grid;
  grid-template-areas:
    'username img'
    'date img';
  margin-left: auto;
  gap: 10px;
  box-sizing: border-box;
}

.username {
  grid-area: username;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: right;
}

.date {
  grid-area: date;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
}

.img {
  grid-area: img;
  align-self: center;
}

.likes-container {
  display: flex;
  gap: 5px;
  justify-items: flex-start;
}

.heart {
  align-self: flex-start;
  padding: 5px;
  margin-left: 10px;
}

.likes {
  margin-right: 55px;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  overflow-wrap: anywhere;
}

.tag {
  align-items: center;
  width: fit-content;
  padding: 2px 5px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 10px;
}

.description,
.markdown {
  overflow-wrap: anywhere;
}

.alone-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px 25px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
  margin: 30px 40px;
}

.description-upgraded {
  overflow-wrap: anywhere;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}

.tag-upgraded {
  align-items: center;
  width: fit-content;
  padding: 2px 5px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.delete,
.edit {
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  background-color: white;
  padding: 7px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.delete {
  border: 1px solid #f5222d;
  color: #f5222d;
}

.edit {
  border: 1px solid #52c41a;
  color: #52c41a;
}

.button-container {
  position: absolute;
  top: 190px;
  right: 60px;
  display: flex;
  gap: 10px;
}

.description {
  position: relative;
}
